# Python bytecode (compiled files)
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# IDE / Editor settings
.vscode/
.idea/
.DS_Store

# Large or sensitive files
*.log
.database.sqlite

game_state.jsonl